* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  font-size: 3rem;
  background-color: hsla(34, 78%, 91%, 1);
  color: hsla(0, 0%, 13%, 1);
}

button {
  color: inherit;
}



